body {
	font-family: "Hind", sans-serif;
}

div.container {
	background: linear-gradient(#4881a2, #c77b5ff6);
	border-radius: 5px;
	max-width: 800px;
	margin: 15px auto;
	padding: 40px 60px 33px;
}

h1 {
	color: white;
	display: inline-block;
	font-size: 35px;
	font-weight: 700;
	margin: auto 5px;
	text-align: center;
}

hr {
	background-color: white;
	border-top-width: 1px;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
}

img {
	display: block;
	margin: auto;
}

ul {
	color: white;
	font-size: 13px;
	line-height: 30px;
	list-style: none;
	margin-bottom: 25px;
}

.card {
	background-color: rgba(95, 179, 228, 0.3);
	color: white;
	margin: 35px auto 25px;
	padding: 5px;
	text-align: center;
}

.card-body {
	padding: 5px;
}

.card-title {
	font-size: 16px;
	margin: 10px 0;
}

.cityTemperature {
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.cityTemperature a {
	color: white;
	font-size: 25px;
}

.cityTemperature .active {
	color: white;
	cursor: default;
}

.cityTemperature .active:hover {
	text-decoration: none;
}

.link-github {
	color: darkgrey;
	font-size: 13px;
	font-style: italic;
	max-width: 800px;
	margin: 15px auto;
}

.extra-info {
	margin: 30px auto 20px;
}

.information {
	background-color: rgba(137, 193, 228, 0.3);
	border: solid;
	border-radius: 5px;
	border-width: thin;
	color: white;
	margin-bottom: 30px;
}

#date {
	font-size: 20px;
	line-height: 60px;
}

#description {
	font-size: 18px;
}

#footer {
	color: darkgray;
}

#footer:hover {
	color: rgb(105, 84, 84);
	text-decoration: underline;
}
